<div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Admission Form</h5>
    </div>
    <div class="card-body">

        <pre>
            {{admissionForm.value  | json}}
        </pre>
      <!-- Form -->
      <form [formGroup]="admissionForm" (ngSubmit)="saveOrUpdateAdmission()">
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="patientId">Patient ID</label>
          <div class="col-sm-10">
            <input
              type="number"
              class="form-control"
              id="patientId"
              formControlName="patientId"
              placeholder="Enter patient ID"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="admissionDate">Admission Date</label>
          <div class="col-sm-10">
            <input
              type="date"
              class="form-control"
              id="admissionDate"
              formControlName="admissionDate"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="dischargeDate">Discharge Date</label>
          <div class="col-sm-10">
            <input
              type="date"
              class="form-control"
              id="dischargeDate"
              formControlName="dischargeDate"
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="status">Status</label>
          <div class="col-sm-10">
            <select class="form-control" id="status" formControlName="status">
              <option value="" disabled>Select status</option>
              <option value="Admitted">Admitted</option>
              <option value="Discharged">Discharged</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="dischargeSummary">Discharge Summary</label>
          <div class="col-sm-10">
            <textarea
              class="form-control"
              id="dischargeSummary"
              formControlName="dischargeSummary"
              placeholder="Enter discharge summary"
            ></textarea>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="admissionForm.invalid">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  