<div class="container-xxl flex-grow-1 container-p-y">

  
    <!-- Form Layout -->
    <div class="row">
      <div class="col-xxl">
        <div class="card mb-4">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Patient Details">
                  <mat-card>
                    <mat-card-content>
                      <app-patient-details></app-patient-details>
                    </mat-card-content>
                  </mat-card>
                </mat-tab>
              
                <mat-tab label="Patient Medicines">
                  <mat-card>
                    <mat-card-content>
                      <app-patient-medicines></app-patient-medicines>
                    </mat-card-content>
                  </mat-card>
                </mat-tab>
               </mat-tab-group>
                
        </div>
      </div>
    </div>
  </div>